<div class="hero">
  <div class="hero__content">
    <h1>Vamos criar um <span>site</span>?</h1>
    <div class="hero__description">
      <div class="hero__description--balloon">
        <p>Oi! Meu nome é Diana! Sou Designer e Desenvolvedora de sistemas e eu amo usar tecnologia para construir coisas maneiras para a internet!</p>
      </div>
      <figure class="hero__description--image">
        <img src="assets/diana.png" alt="Uma self da Diana Coelho">
      </figure>
    </div>
  </div>
  <div class="hero__scroll-indicator">
    <img src="assets/icons/arrow-down.svg" alt="">
  </div>
</div>
