.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60vh;
  margin-top: 8rem;

  h1 {
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;

    span {
      color: var(--primary);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__description {
    margin: 2rem 0;
  }

  &__description--balloon {
    order: 1;
    position: relative;
    border-radius: 0.4em;
    margin-bottom: 2rem;
    background-color: var(--gray);
    padding: 2rem;
    border-radius: 2rem;
    text-align: left;
    max-width: 500px;
  }

  &__description--balloon::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: var(--gray);
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
  }

  &__description--image {
    display: flex;
    justify-content: center;
  }

  &__scroll-indicator {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__scroll-indicator {
    animation: bounce-out-down 1.2s ease infinite;
  }
  @keyframes bounce-out-down {
    50% {
      transform: translateY(-15px);
    }
  }
}

@media (min-width: 768px) {
  .hero {
    text-align: center;

    h1 {
      font-size: 4rem;
      line-height: 4.2rem;
    }

    &__content {
      gap: 2rem;
    }

    &__description {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__description--balloon {
      margin: 0 2rem;
    }

    &__description--balloon::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-right-color: var(--gray);
      border-left: 0;
      border-top: 0;
      margin-top: -10px;
      margin-left: -20px;
    }

    &__scroll-indicator {
      margin-top: 8rem;
    }
  }
}

@media (min-width: 1024px) {
  .hero {
    margin-top: 10rem;

    h1 {
      font-size: 6rem;
      line-height: 6.2rem;
    }

    &__content {
      gap: 4rem;
    }
  }
}
